Lab7/part_1/src/resources/manufacture.dtd

<!ELEMENT Showsalon (Manufacture*)>
        <!ELEMENT Manufacture (Brand*)>
        <!ELEMENT Brand (#PCDATA)>
        <!ATTLIST Manufacture
                id CDATA #REQUIRED
                name CDATA #REQUIRED
                >
        <!ATTLIST Brand
                id CDATA #REQUIRED
                manufactureID CDATA #REQUIRED
                name CDATA #REQUIRED
                price CDATA #REQUIRED
                >